* {
    padding: 0;
    margin: 0;
}
/* button清楚自带样式 */
button {
    border: none;
    outline: none;
    cursor: pointer;
}

.show {
    display: block;
}

.hide {
    display: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

/* 清除浮动 */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


/* 页面背景图 */

#app .bg li {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: left/cover no-repeat;
    animation: changeSize 10s;
    z-index: -1;
}


/* 背景图放大缩小效果 */

@keyframes changeSize {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }
    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

/* 背景图 */

#app .bg li:first-child {
    background-image: url('../img/pic1.jpg');
}

#app .bg li:last-child {
    background-image: url('../img/pic2.jpg');
}

.container {
    width: 740px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}

/* canvas样式开始 */
/* 棋子棋盘 */
.container .chessCanvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

/* canvas 棋盘背景 */
.container .gridCanvas {
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0px 3px 4px 6px rgba(136, 128, 59, 0.37);
    background: #E9B669;
    z-index: 2;
}

/* 禁止点击 */
.noClick {
    pointer-events: none;
}

.container .btn {
    float: right;
    width: 100px;
    margin-bottom: 20px;
}

.btn .start {
    background: rgb(201, 147, 67);
    color: #fff;
}

.btn button {
    margin-top: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 2px 6px 4px rgba(109, 109, 108, 0.25);
    font-size: 15px;
    color: rgb(107, 107, 107);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    transition: all .8s;
}

.btn button:hover {
    transform: scale(1.2, 1.2);
    background: #4d4d4d;
    color: #fff;
}


/* 音频控制按钮 */

.audioBtn {
    position: absolute;
    right: 40px;
    top: 20px;
}

.audioBtn button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: .4;
    transition: opacity .5s;
}

.audioBtn button:hover {
    opacity: 1;
}

.audioBtn .play {
    background: url('../img/play.png') 100%/100% no-repeat;
}

.audioBtn .pause {
    background: url('../img/pause.png') 100%/100% no-repeat;
}

/* canvas样式结束 */


/* dom棋盘样式开始 */

/* dom 棋盘网格背景 */
.chessBg{
    width: 600px;
    height: 600px;
    background: #E9B669;
    box-shadow: 0px 3px 4px 6px rgba(136, 128, 59, 0.37);
    position: absolute;
    top: 0;
    left: 0;
}
.domChessBg {
    width: 570px;
    height: 570px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
}
.domChessBg table{
    width: 570px;
    height: 570px;
}
.domChessBg table tr:last-child td{
    border-bottom: 1.5px solid #4d4d4d;
}
.domChessBg table tr td:last-child{
    border-right: 1.5px solid #4d4d4d;
}
.domChessBg .chessBgItem{
    border-top: 1.5px solid #4d4d4d;
    border-left: 1.5px solid #4d4d4d;
}

/* 棋盘所有格子（棋子） */
div.chessArea {
    display: block;
    width: 600px;
    height: 600px;
    padding: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.chessArea table {
    border-collapse: collapse;
    width: 600px;
    height: 600px;
}

.chessAreaItem {
    width: 30px;
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
}
/* 棋子样式 */
.black{
    background: url('../img/black.png') 61% 47%/80% no-repeat;
}
.white{
    background: url('../img/white.png') 61% 47%/80% no-repeat;
}
/* dom棋盘样式结束 */

/* 装饰-云朵 */
.cloud1{
    width: 300px;
    height: 150px;
    position: absolute;
    top: 60px;
    left: 50px;
    animation: changePozi 8s infinite ease-out;
}
/* 云朵1动效 */
@keyframes changePozi {
    0% {
        opacity: 1;
        margin-left: 30px;
    }
    50% {
        opacity: 1;
        margin-left: 130px;
    }
    100% {
        opacity: 0.5;
        margin-left: 0px;
    }
}
.cloud1 img{
    width: 100%;
}

.cloud2{
    width: 400px;
    height: 300px;
    position: absolute;
    bottom: -60px;
    right: 80px;
    animation: changePozi2 12s infinite ease-out;
}
/* 云朵2动效 */
@keyframes changePozi2 {
    0% {
        opacity: 1;
        margin-right: 30px;
    }
    50% {
        opacity: 1;
        margin-right: 130px;
    }
    100% {
        opacity: 0.5;
        margin-right: 0px;
    }
}
.cloud2 img{
    width: 100%;
}

/* 小提示 */
.tips{
    width: 600px;
    position: absolute;
    top: 20px;
    left: 400px;
    color: rgb(104, 70, 20);
    text-align: center;
    font-size: 15px;
}