<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>五子棋小游戏</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div id="app">
        <div class="container clearfix">
            <!-- 文字提示 -->
            <div class="tips">{{tips}}</div>

            <!-- 棋盘网格背景 -->
            <!-- 模拟不兼容效果，将canvas注释了，显示 dom 元素的五子棋游戏 -->
            <canvas class="gridCanvas" ref="gridCanvas" width="600" height="600">
                <!-- 如果当浏览器不支持canvas,则显示内部内容 -->
                <div class="chessBg">
                    <div ref="domChessBg" class="domChessBg">
                        <table cellspacing="0px">
                            <tbody>
                                <tr v-for="(trItem,i) of chessBgTrList" :key="i">
                                    <td v-for="(tdItem,j) of chessBgTdList" :key="j" class="chessAreaItem chessBgItem"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </canvas>

            <!-- 棋子网格，游戏操作区域 -->
            <!-- 模拟不兼容效果，将canvas注释了，显示 dom 元素的五子棋游戏 -->
            <canvas class="chessCanvas" @click="myChess" :class="canPlay" ref="myCanvas" width="600" height="600">
                <!-- 如果当浏览器不支持canvas,则显示内部内容 -->
                <div :class="canPlay" class="chessArea" ref="chessArea">
                    <table cellspacing="0px">
                        <tbody>
                            <tr v-for="(trItem,i) of chessTrList" :key="i">
                                <td v-for="(tdItem,j) of chessTdList" :key="j" @click="myChess(i,j)" :ref="`${i}-${j}`"
                                    class="chessAreaItem"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </canvas>

            <!-- 按钮区 -->
            <div class="btn">
                <button class="start" type="button" @click="startGame">开始<br>游戏</button>
                <br>
                <button type="button" @click="reStart">重新<br>开始</button>
                <br>
                <button @click="regretGame" type="button">悔棋</button>
                <br>
                <button @click="playerGame" type="button">玩家对战</button>
            </div>
        </div>

        <!-- 背景区 -->
        <ul class="bg">
            <li :class="Bg1"></li>
            <li :class="Bg2"></li>
        </ul>

        <!-- 装饰-云朵 -->
        <div class="cloud1">
            <img src="./img/cloud1.png" alt="">
        </div>
        <div class="cloud2">
            <img src="./img/cloud2.png" alt="">
        </div>

        <!-- 背景音乐 -->
        <audio ref="myAudio" src="./audio/王昌元 - 梅花三弄 (古曲).mp3" autoplay loop>
            您的浏览器版本过低，请升级！
        </audio>
        <!-- 落子音效 -->
        <audio ref="chessDown" src="./audio/bc6c2ac421385cfffbf64efab15a19f5.mp4">
            您的浏览器版本过低，请升级！
        </audio>
        <!-- 右侧按钮音效 -->
        <audio ref="btnAudio" src="./audio/水滴3.wav">
            您的浏览器版本过低，请升级！
        </audio>
        <!-- 背景音乐播放按钮 -->
        <div class="audioBtn">
            <button @click="playAudio" class="play" :class='myAudioPlay' type="button"></button>
            <button @click="pauseAudio" class="pause" :class='myAudioPause' type="button"></button>
        </div>
    </div>

    <script src="./js/vue.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>